/* About Section*/

.about_section_container{
    display: flex;
    gap: 4rem;
    height: 80%;
}

.about_section_pic_container{
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.about_pic{
    border-radius: 2rem;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.about_details_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about_section_text{
    align-self: center;
    text-align: center;
}

.about_section_text_p2{
    text-align: justify;
    font-weight: 600;
    text-indent: 2em;
    font-size: var(--summary-size);
    word-spacing: 2px;
}





