
/* Contact Section */

#contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
}

.contact_info_upper_container{
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border:var(--details-container-border) 0.1rem solid;
    background: var(--details-container-background);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact_info_container{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact_info_container{
    font-size: var(--link-size);
}