@media screen and (max_width: 1400px){
    #profile{
        width: auto;
        display: flex;
        height: 83vh;
        margin-bottom: 6rem;
    }

    #project{
        height: auto;
    }

    .about_container{
        flex-wrap:wrap;
    }
}

@media screen and (max_width: 1200px) {
    #desktop_nav{
        display: none;
    }

    #hamburger_nav{
        display: flex;
        z-index: 2;
    }

    #skill, .skill_detail_container
    ,.project_detail_container{
        margin-top: 2rem;
    }

    .arrow{
        display: none;
    }

    section{
        height: fit-content;
        margin: 0.5%;
    }

    .profile_section_pic_container,
    .about_section_pic_container{
        width: 275px;
        height: 275;
        margin: 0 auto 2rem;
        justify-content: center;
    }

    .about_container{
        margin-top: 0;
    }
}

@media screen and (max_width: 600px){

    #contact{
        height: 40vh;
    }

    #profile{
        height: 83vh;
        margin-bottom: 0;
        display: block;
    }

    article{
        font-size: 1rem;
    }

    footer nav{
        height: fit_content;
        margin-bottom: 2rem;
    }

    .btn_color_1:hover{
        background:white;
        color: black;
    }

    .btn_color_2:hover{
        background: black;
        color: white;
        border-color: white;
    }

    .nav_logo_pic{
        width: 75px;
    }

    .nav_logo{
        font-size: 2rem;
    }

    .about_container, 
    .contact_info_upper_container,
    .btn_container{
        flex-wrap: wrap;
    }

    .about_container{
        display: block;
    }

    .details_container{
        margin-bottom: 0.5rem;
    }

    .contact_info_upper_container{
        gap: 1rem;
    }

    .contact_info_container{
        margin: 0;
    }

    .contact_info_container p,
    .nav_links li a{
        font-size: 1rem;
    }

    .skill_subtitle,
    .project_subtitle{
        font-size: 1.25rem;
    }

    .nav_logo{
        font-size: 2rem;
    }

    .nav_links{
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }

    .profile_section_pic_container,
    .about_section_pic_container{
        width: auto;
        height: 46vw;
        justify-content: center;
    }

    .section_text_p2{
        font-size: 1.25rem;
    }

    .section_title,
    .profile_title{
        font-size: 2rem;
    }
}

@media screen and (max_width: 300px){

.nav_logo{
    font-size: 1.5rem;
}

.nav_logo_pic{
    width: 70px;
}

}