/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

 .menu-links li:last-child{
  width: max-content;
  display: flex;
  margin: auto;
  padding: 10px;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color-hover);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--text-decoration-color);
}

.nav-logo-pic{
  width: 100px;
}

.nav-logo {
  color: var(--primary-color);
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.nav-logo:hover {
  cursor: default;
}

.theme{
  position: absolute;
  right: 5rem;
  width: 40px;
  cursor: pointer;
}

/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: var(--primary-color);
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background:none;
  border-radius: 1rem;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: var(--primary-color);
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--text-color-hover);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: var(--text-decoration-color);
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
  background: var(--container-color);
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}