/* Profile Section*/

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 83vh;
}

.profile_section_pic_container{
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto;
}

.profile_pic{
    border-radius: 50%;
}

.profile_section_text{
    align-self: center;
    text-align: center;
    margin: auto;
}

.profile_section_text p{
    font-weight: 600;
}

.profile_section_text_p1 {
    font-size: var(--intro-size);
    text-align: center;
}
.profile_title{
    font-size: var(--name-size);
    text-align: center;
    color: var(--text-color);
}

.profile_section_text_p2 {
    font-size: var(--role-size);
    margin-bottom: 1rem;
}

#socials_container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
