/* PROJECTS SECTION */

#project {
    position: relative;
  }
  
  .project-section-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #project .section-details-container{
    max-width: initial;
  }
  
  .color-container {
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
  }
  
  .project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
  }
  
  .project-title {
    margin: 1rem;
    color: var(--primary-color);
  }

  .project-description{
    font-size: 1.5rem;
    padding-bottom: 20px;
  }
  
  .project-btn {
    color: var(--primary-color);
    border-color: rgb(163, 163, 163);
  }
  
  