/* Skill Section */

.skill-subtitle{
    color: var(--text-color);
    font-weight: 600;
    font-size: 1.7rem;
    margin-bottom: 2rem;
}

.skill-details-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content:space-between;
}

.article{
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}

article .icon{
    cursor: default;
}