/* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

/* COLORS */

:root{
  --background-color:#000000;
  --primary-color:#f8f9fa;
  --secondary-color:#e9ecef;
  --border-color:#f8f9fa;
  --container-color:#343a4042;

  --text-color-hover:#0088ff;
  --text-decoration-color: #0088ff;

  --btn-border-color: #f8f9fa;

  --btn-background-color1:#343a40;

  --btn-color1:#f8f9fa;
  --btn-color2:#f8f9fa;

  --btn-color-hover1:#f8f9fa;
  --btn-color-hover2:#f8f9fa;

  --btn-background-hover2:#343a40;

  --btn-border-hover1:#f8f9fa;
  --btn-border-hover2:#f8f9fa;

}

[theme='light']{
  
  --background-color:#f8f9fa;
  --primary-color:#000000;
  --secondary-color:#343a40;
  --border-color:#000000;
  --container-color:#e9ecef8e;

  --text-color-hover:#0088ff;
  --text-decoration-color: #0088ff;

  --btn-border-color: #000000;

  --btn-background-color1:#343a40;

  --btn-color1:#f8f9fa;
  --btn-color2:#212529;

  --btn-color-hover1:#212529;
  --btn-color-hover2:#f8f9fa;

  --btn-background-hover2:#343a40;

  --btn-border-hover1:rgb(53,53,53);
  --btn-border-hover2:rgb(53,53,53);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--background-color);

}

html {
  scroll-behavior: smooth;
}

p{
  color: var(--secondary-color);
}




/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* BACKGROUND */
#particles-js{
  z-index: -1;
  position: fixed;
  width: 100%;
  height: 100vh;
}


/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-text-p1 {
  color: var(--primary-color);
  text-align: center;
}

.section-text-p2 {
  color: var(--primary-color);
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.section-subtitle {
  color: var(--primary-color);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.section-title {
  color: var(--primary-color);
  font-size: 3rem;
  text-align: center;
}

.section-about-container {
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.section-details-container {
  padding: 1.5rem;
  flex: 1;
  background: var(--container-color);
  border-radius: 2rem;
  border: var(--border-color) 0.1rem solid;
  text-align: center;
}



/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

.bi{
  color: var(--primary-color);
  cursor: pointer;
  font-size: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: var(--btn-border-color) 0.1rem solid;
}

.btn-color-1:hover,
.btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1{
  background: var(--btn-background-color1);
  color: var(--btn-color1);
}

.btn-color-1:hover {
  background: none;
  border-color: var(--btn-border-hover1);
  color: var(--btn-color-hover1);
}

.btn-color-2:hover {
  background: var(--btn-background-hover2);
  color: var(--btn-color-hover2);
  border: var(--btn-border-hover2) 0.1rem solid;
}

.btn-color-2 {
  background: none;
  color: var(--btn-color2);
}

.btn-container {
  gap: 1rem;
}


